<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SIIAD</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css"/>
		<!--LINK PARA TUS PROPIOS ESTILOS-->
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/login.css" />
	</head>

	<body>
		<div class="container">
			<form class="form-signin span8" name="form01" method="post" action="../../validarUsuario.php">
				<h2 class="form-signin-heading">Inicio de Sesion</h2>
				<label for="codigo" class="sr-only">Codigo</label>
				<input type="text" name="codigo" id="codigo" class="form-control" placeholder="Codigo" maxlength="7" onkeypress="return validar(event);" required="required"/>
					
				<label for="pass" class="sr-only">Password</label>
				<input type="password" name="pass" id="pass" class="form-control" placeholder="Contrasena" required="required"/>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" name="sesion" id=="sesion" value="mantener"/> Mantener Sesion
					</label>
				</div>
									
				<input class="btn btn-lg btn-primary btn-block" type="submit" name="enviar" id="enviar" value="Iniciar Sesion"/>

			</form>
		</div>
		
	</body>
	<script>
	function validar(evento) {
			//propiedad which regresa cual tecla o boton de raton fue presionada
			evento = (evento) ? evento : window.event;
		    var charCode = (evento.which) ? evento.which : evt.keyCode;
		    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
		        return false;
		    }
		    return true;
		}
	</script>
	<script src="../bootstrap/js/jquery.js"></script>
	<script src="../bootstrap/js/bootstrap.js"></script>
</html>
