form {
  	width: 600px;
 	margin: 0 auto;
  	text-align: center; /* Este es para Internet Explorer ¬¬, que de lo contrario no lo centrará (en los navegadores antiguos) */
}

form label{
	float:left;
	width:25%;
	padding: .2em 0 .2em .5em;
}

form input{
	width:75%;
	padding: .2em 0 .2em .5em;
}
