{% extends "plantillaStr.html" %}

{% block content %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="sub-header">{{ nombreConsulta }}</h3>
		</div>
		
		<div class="panel-body table-responsive">
			{% if datos is defined%}

			{% if datos%}
			<!--div class="table-responsive"-->
			<table class="table table-striped">
				<thead>
					<tr>
						{% if rol is defined and rol == 0 %}
						<th>Eliminar</th>
						{% endif %}

						{% for titular in encabezado %}
						<th>{{titular}}</th>
						{% endfor %}

					</tr>
				</thead>
				<tbody>
					{% for fila in datos %}
					<tr>
						{% block eliminarFila %}
		
						{% endblock %}

						{% block datosTabla%}

						{% endblock %}
						
						
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						{% if rol is defined and rol == 0 %}
						<th colspan="2">Total de {{nombreConsulta}}</th>
						{% else %}
						<th>Total de {{nombreConsulta}}</th>
						{% endif %}
						<td>{{totalFilas}}</td>
					</tr>
				</tfoot>
			</table>
			<!--/div-->
			{% else %}
			<div class="alert alert-warning" role="alert">
				<span class="glyphicon glyphicon glyphicon-grain" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<strong>Error: </strong>No hay informacion en el Sistema
			</div>
			{% endif %}
			{% else %}
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<strong>Error: </strong>No se pudo realizar la operacion
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div id="mensaje"></div>


{% block acciones %}
	
{% endblock %}
{% endblock %}
